.testimonial {
    height: 266px;
    background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.testimonials-section .base {
    margin-top: -40px;
    background: url(../../images/person-id-base.png) no-repeat;
    min-height: 62px;
}

.person-info  {
    width: 60%;
    color: #141540;
    padding-top: 10px;
}

.person-info .person-line {
    height: 40px;
    border-bottom: 3px solid #000;
}

.person-info h5 {
    font-style: normal;
font-weight: 500;
font-size: 14px;
}

.person-info p {
    font-style: normal;
font-weight: 500;
font-size: 12px;
}


@media (max-width: 426px) {
    .person-info {
        width: 80%;
    }
}
