.blank-card {
    width: 60%;
    background: #fff;
    border-radius: 10px;
}

.package-card {
    border: 2px solid #F0EDED;
    border-radius: 8px;
    height: 100%;
    padding: 40px 20px;
    transition: 20ms;
}

.package-card:hover {
    border: 2px solid #59B8E4;
    cursor: pointer;
}

@media (max-width: 426px) {
    .blank-card {
        width: 90%;
    }
}